<div id="<%= dom_id quote %>">
  <p>
    <strong>Type:</strong>
    <%= quote.quote_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= quote.amount %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= quote.client_id %>
  </p>

</div>
