<div class="container">
  <h1>Editing quote</h1>

  <%= render "form", quote: @quote %>

  <br>

  <div>
    <%= link_to "Show this quote", @quote, class: "btn btn-outline-success" %>
    <%= link_to "Back to quotes", quotes_path, class: "btn btn-outline-info" %>
  </div>
</div>
