<div class="container">
  <h1>Quotes</h1>
  <%= link_to "New quote", new_quote_path, class: "btn btn-success" %>

  <div id="quotes">
    <% @quotes.each do |quote| %>
      <%= render quote %>
      <p>
        <%= link_to "Show this quote", quote %>
      </p>
    <% end %>
  </div>

</div>