<div class="container">
  <h1>Showing Quote</h1>

  <%= render @quote %>

  <div class="mt-3">
    <%= link_to "Edit this quote", edit_quote_path(@quote), class: "btn btn-outline-secondary" %>
    <%= link_to "Back to quotes", quotes_path, class: "btn btn-outline-info" %>
    <%= link_to "Destroy this quote", @quote, method: :delete, class: "btn btn-outline-danger" %>
  </div>
</div>