<div class="container">
	<h2>Your Profile</h2>

	<div><strong>First Name:</strong> <%= @user.first_name %> </div>
	<div><strong>Last Name:</strong> <%= @user.last_name %> </div>
	<div><strong>Email:</strong> <%= @user.email %> </div>
	<div><strong>User Role:</strong> <%= @user.role %> </div>
</div>