<div class="m-2">
	<h1>Update the client</h1>
		
	<%= render 'form' %>

	<%= link_to "Delete Client", client_path(@client), data: { "turbo_method": :delete, "turbo-confirm": "Are you sure?"}, class: "btn btn-outline-danger" %>
</div>