<%= stylesheet_link_tag "example", "data-turbo-track": "reload" %>

<h1 class="ms-3">Clients List</h1>

<div>
	<%= link_to "Create new client", new_client_path, :class => "btn btn-primary ms-3" %>
</div>

<%= render 'clients', clients: @clients %>
