<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>

    <p>Saludos,</p>
    <p>Equipo Spacebyn</p>
    <p>support@spacebyn.com</p>
    <p>111-235-2533</p>
    <%= image_tag attachments['recunet_logo.png'].url, alt: 'Recunet logo' %>
  </body>
</html>
